@page "/controller"
@using MechKineticsArtSoftware
@inject LogWriter logger
@inject ConfigManager configmgr
@inject IStringLocalizer<Controller> localizer


<h1>@localizer["title"]</h1>

<div>
    <h4>@localizer["control"]</h4>
    <div class="card-deck">
        @for (int i = 0; i < configmgr.configData.num_motor; i++)
        {
            <JogWidget motor_index="@i"></JogWidget>
        }
    </div>

</div>

@code {

}
