@page "/"

<h1>Mech Kinetic Art System Software</h1>

<div>

    <h2>Connect</h2>
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-primary">Load Config</button>

        <button type="button" class="btn btn-success">Connect</button>
    </div>
</div>


<div>
    <h2>Status</h2>
    <div>
        Test
        <div>
            <span class="badge badge-success">OK</span> Board0
        </div>
        <div>

            <span class="badge badge-warning">Error</span> Board1
        </div>
        <div>

            <span class="badge badge-warning">Error</span> Board1

        </div>
    </div>
</div>


<div>

    <h2>Control</h2>
    <div class="btn-group-vertical" role="group">

        <button type="button" class="btn btn-primary">Go To Origin</button>
        <button type="button" class="btn btn-primary">Run File</button>
        <button type="button" class="btn btn-danger">Emergency Stop</button>
    </div>
</div>
