@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <CultureSelector/>
        <a href="https://www.avalontech.jp/" target="_blank">About</a>
    </div>

    <div class="content container px-4">
        @Body
    </div>
</div>
