@using MechKineticsArtSoftware
@inject LogWriter logger

<div class="card">
    <h6 class="card-header">Motor @motor_index</h6>
    <div class="card-body">
        <div class="row">
            <div class="input-group m-1">
                <div class="col">
                    <input type="number" class="form-control" placeholder="MoveToPosition" value="0">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <h6>Current Pos: @current_pos</h6>
    </div>
</div>

@code {
    public string current_pos { get; set; } = "No Data";


    [Parameter]
    public int motor_index { get; set; }

    async Task ClickMoveTo()
    {
        logger.writeLogln($"Hello motor {motor_index}");
    }
}